.success {
  color: darkgreen;
  border-color: limegreen;
  background-image: url('https://cdn.pixabay.com/photo/2016/02/11/14/59/background-1193727__480.png');
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
